language: java
jdk:
  - oraclejdk8
addons:
  sonarcloud:
    organization: sbaudoin-github
    token:
      secure: qK+/79r64AkKy8Jt6heKrZ4GbTiFWcGB0/36tYh84TMwBGYFAqTD7AZpd6iuDZUHvSsQJQUWvijjIN7HE79uHhHGM0Fn72WuocCLEcB7FeAvwkvuRDFgF9u0DVs0dHPhz26fPDap1dGr8fjBviVtcqZhEFwVYowlfgv37Qf8PHIV6DC825C6YGLprhyAMlr+xOccqXsPynzYE+A4l6SwYLSfy9dMFkzhSF11Um/MFDgRC+DjT+KDcfHnikiYEl/QPOAWoclnNl6swFpE8vyjjJz1gZHNX2arU5VMbXJmiR/mLK6/kdCSOrhiNeOmo3YM7DmMahwtpOzMvLXugNi6AcSiqUarjfudrl3SUWnBI4QAoxi5/1FwbYcipgCltfQ7R/tpcGeHuL0qAO1vEEfaZgfYN8HXiDDDZut+rR6RYq9WhlX4iIPrEaPg9Jqz1+2Kp+lqpKY9z5thb2JpwqqyNq+VVQrXp1WPYKDABXPTj9wYwCr1M3afb7FDz5O3/MWQiIahYPoSfzrTBRJW8XP2Kxo6z6XLO1OKoNDIjopGmDFoK+d2c4MeoLhVWPrgbSqbsTV+nRToetxTh7tYHGnavbdBqI0SD8QVSPBgn0Dm67sAT036NScGWhP0iQiiMmQFb1gg3mailGfW9KwwJuLsjJSGIsELxfzyiwv+UbIjjjc=
sudo: false
cache:
  directories:
  - "$HOME/.m2/repository"
  - "$HOME/.sonar/cache"
before_install:
  - if [ ! -z "$GPG_SECRET_KEYS" ]; then echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import; fi
  - if [ ! -z "$GPG_OWNERTRUST" ]; then echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust; fi
install:
  - mvn --settings .travis/settings.xml install -DskipTests=true -Dgpg.skip -Dmaven.javadoc.skip=true -B -V
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
deploy:
  - provider: script
    script: bash .travis/deploy.sh
    skip_cleanup: true
    on:
      repo: sbaudoin/sonar-ansible
      all_branches: true
  - provider: releases
    api_key:
      secure: "RWPrzo7ysRA53mm7iOz6M2I8K40gjR6YZi0HnmVnL2ot2/qdAGc9xPpJZvFUNTyvnGzk6GHY8fYlyFapPFWqK3byLCY4xSpsd8cxtzhCxLtnOulM/OKoHmWFI/0bcvmbujHxyuIm/wSxQhxgY/mlX1OkiqUKUR8m5/hbR3JiLTdaPcKVczXT5q0JiGZ6qGCkjHMvzo2Uy2RT1HcIsMW0OlUM5O7gHnJOQ9AoAXzsez3eF5K/Qu6zxY4UDKg7qQB/KgotZS381iqqG2ABAubiX241z594l6iSG2yWGnV6o/FyKItaCMtBRmfaUx57JX3CfLiNtYsxnbqpMkGC3D2acgKHTUQBBxw9wQXr48N5Y08+bE7KvJ//iTeAvwWxdKP3rx9fQGFJkd7lQNqV0O/yAgNkmIlRSqD5Fcxx4uWjoUm+tPco746ln0bLhrHtI+Xu0a6SWIsiXAYPr3OmmmWL1bEvA+P0m6DwV+FZCd+hfBUSMXPGrI3xS2TFPzDiIftgVkChB1SDaXBs+Wwfzhth6Kebhxus/X7VozqsnjkogfoOSVZ7lpp7W2JFWXNIMfiVgnMQirlnVa0ZYHtCTAgT5Xu5SaoC5kIcswTRjqy40csFpRhd/LC2767rv5a0n7H7U1m9BX/7bnl8bILPBA5rG7467X0VaTQbNZeuF7uEbEM="
    file_glob: true
    file:
      - target/sonar-ansible-plugin-*.jar
    skip_cleanup: true
    on:
      repo: sbaudoin/sonar-ansible
      tags: true
